
<div class="col-lg-12">
    <p>
        <a class="btn btn-info float-left" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-info"></i> Помощь
        </a>
    </p>
    <h5 class="float-right">Последнее обновление: <span id="lastUpdateConnectionOverview"></span></h5>
</div>
<div class="col-lg-12">
    <div class="collapse" id="collapseExample">
        <div class="alert alert-secondary" role="alert">
            <p> Это обзорный экран текущих ответов на подключение, которые OctoFarm получает от ваших экземпляров OctoPrint</p>
            <hr>
            <b>Среднее время ответа: </b> <p>Это общее время, которое принтер тратит на ответ на запрос. </p>
            <hr>
            <b>Процент успеха: </b> <p>Это соотношение неудачных и успешных запросов.  </p>
            <hr>
            <b>Повторы по тайм-ауту API: </b> <p>Сколько раз настройки тайм-аута приостанавливали попытку подключения.</p>
            <hr>
            <b>Ошибки подключения API: </b> <p>Сколько раз подключение завершилось полной ошибкой. Обычно из-за хоста OctoPrint / неправильных настроек принтера.</p>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <table id="" class="table table-dark table-striped text-center">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="sticky-table table-dark" style="">URL</th>
            <th scope="col" class="sticky-table table-dark" style="">Среднее время ответа</th>
            <th scope="col" class="sticky-table table-dark" style="">Процент успеха</th>
            <th scope="col" class="sticky-table table-dark" style="">Повторы по тайм-ауту API</th>
            <th scope="col" class="sticky-table table-dark" style="">Ошибки подключения API</th>
            <th scope="col" class="sticky-table table-dark" style="">Счётчик сбоев WebSocket Ping/Pong</th>
        </tr>
        </thead>
        <tbody id="connectionOverViewTableBody" style="height:100%; overflow-y:auto;">

        </tbody>
    </table>
</div>
