<% const disable_btn_air_gapped = (air_gapped) ? "disabled" : "" %>

<div class="btn-group float-left">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <i class="fab fa-octopus-deploy"></i> Менеджер OctoPrint
    </button>
    <div class="dropdown-menu">
        <h6 class="dropdown-header d-none">Настройки</h6>
        <button
                title="Update multiple OctoPrint's at once."
                id="blkOctoPrintSettingsUpdateBtn"
                type="button"
                class="dropdown-item d-none"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
            <i class="fas fa-cogs"></i> Массовое обновление настроек<%= disable_btn_air_gapped %>
        </button>
        <h6 class="dropdown-header">Клиент</h6>
        <button
                title="Update multiple OctoPrint's at once."
                    id="blkOctoPrintUpdate"
                    type="button"
                    class="dropdown-item"
                    href="#"
            >
                <i class="fab fa-raspberry-pi text-success"></i> Обновить клиенты <%= disable_btn_air_gapped %>
            </button>
            <button
                    title="Install multiple plugins at once."
                    id="blkOctoPrintBackupBtn"
                    type="button"
                    class="dropdown-item d-none"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
                    disabled
            >
                <i class="fas fa-plug text-info"></i> Резервное копирование клиентов
            </button>
            <button
                    title="Install multiple plugins at once."
                    id="blkOctoPrintRestoreBtn"
                    type="button"
                    class="dropdown-item d-none"
                    href="#"
                    aria-expanded="false"
                    data-toggle="modal" data-target="#printerSelectModal"
                    disabled
            >
                <i class="fas fa-plug text-success"></i> Восстановить клиент
            </button>
        <h6 class="dropdown-header">Плагины</h6>
        <button
                title="Install multiple plugins at once."
                id="blkPluginsInstallBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal" <%= disable_btn_air_gapped %>
        >
            <i class="fas fa-download text-info"></i> Установить плагины
        </button>
        <button
                title="Uninstall multiple plugins at once."
                id="blkPluginsUnInstallBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >


            <i class="fas fa-trash text-danger"></i> Удалить плагины
        </button>
        <button
                title="Enable multiple plugins at once"
                id="blkPluginsEnableBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
            <i class="fas fa-toggle-on text-info"></i> Включить плагин
        </button>
        <button
                title="Disable multiple plugins at once"
                id="blkPluginsDisableBtn"
                type="button"
                class="dropdown-item"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
            <i class="fas fa-toggle-off text-warning"></i> Отключить плагин
        </button>
        <button
                title="Update multiple OctoPrint Plugins at once."
                id="blkUpdatePluginsBtn"
                type="button"
                class="dropdown-item"
                href="#"
        >
            <i class="fas fa-sync text-success"></i> Обновить плагины <%= disable_btn_air_gapped %>
        </button>
        </div>
    </div>
