<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active notyet" id="printer-connection-btn"
           data-toggle="list" href="#printer-connection" role="tab" aria-controls="messages"><i
                    class="fas fa-plug"></i> Подключение <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-cost-btn"
           data-toggle="list" href="#printer-cost" role="tab" aria-controls="messages"><i
                    class="fas fa-dollar-sign"></i> Стоимость <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-profile-btn"
           data-toggle="list" href="#printer-profile" role="tab" aria-controls="messages"><i
                    class="fas fa-tags"></i> Профиль <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-power-btn"
           data-toggle="list" href="#printer-power" role="tab" aria-controls="messages"><i
                    class="fas fa-plug"></i> Питание <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-alerts-btn"
           data-toggle="list" href="#printer-alerts" role="tab" aria-controls="messages"><i
                    class="fas fa-bell"></i> Оповещения <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-gcode-btn"
           data-toggle="list" href="#printer-gcode" role="tab" aria-controls="messages"><i
                    class="fas fa-pen"></i> Gcode скрипты <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-settings-btn"
           data-toggle="list" href="#printer-settings" role="tab" aria-controls="messages"><i
                    class="fas fa-cog"></i> Настройки камеры <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="printer-trigger-btn"
           data-toggle="list" href="#printer-trigger" role="tab" aria-controls="messages"><i
                    class="fas fa-cog"></i> Настройки триггеров <i class="fas fa-spinner fa-spin"></i></a>
    </div>
    <span id="printerSettingsFooter">

                            </span>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active show" id="printer-connection" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <p id="offlineMessage"></p>
            <h5>Текущий статус</h5>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <button id="psHost" type="button" class="btn btn-warning mb-1"
                            href="#" target="_blank" disabled> <i
                                class="fas fa-spinner fa-spin"></i> Проверка..
                    </button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <button id="psStatus" type="button" class="btn btn-warning mb-1"
                            href="#" target="_blank" disabled> <i
                                class="fas fa-spinner fa-spin"></i> Проверка..
                    </button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <button id="psWebSocket" type="button"
                            class="btn btn-warning mb-1" href="#" target="_blank"
                            disabled> <i
                                class="fas fa-spinner fa-spin"></i> Проверка..
                    </button>
                </div>
            </div>
            <div id="psCurrentConnection" class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="apiCheck"><i class="fas fa-users"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="stateCheck"><i
                                        class="fas fa-info-circle"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="settingsCheck"><i
                                        class="fas fa-cog"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="systemInfoCheck"><i class="fas fa-question-circle"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="updatesCheck"><i class="fas fa-wrench"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="filesCheck"><i
                                        class="fas fa-file-code"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="profileCheck"><i
                                        class="fas fa-id-card"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="systemCheck"><i
                                        class="fas fa-server"></i></button>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <button disabled
                                    class="btn btn-danger mb-1 btn-block" id="pluginsCheck"><i class="fas fa-plug"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Настройки последовательного порта</h5>
            <hr>
            <p id="portNotAvailableMessage"></p>
            <p>Установите настройки последовательного подключения OctoPrint по умолчанию. Они будут сохранены
                в вашем экземпляре OctoPrint и будут использоваться при подключении к
                принтеру.</p>
            <div id="psConnectionDefaults" class="row">

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="psDefaultPortDrop">

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="psDefaultBaudDrop">

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
                     id="psDefaultProfileDrop">

                </div>
            </div>
            <h5>Настройки быстрого подключения</h5>
            <hr>
            <div id="quickConnectionSettings" class="row">
                <div class="col-12">
                    Настройте параметры кнопки быстрого подключения.<br>

                    <b>Подключить/Отключить: </b> При включении кнопка будет пытаться установить соединение между OctoPrint и вашим принтером.<br>
                    <b>Включить/Выключить питание: </b> При включении кнопка будет пытаться включить питание принтера перед подключением и выключить после отключения.<br>
                    <code>Требуется плагин питания OctoPrint и настройка вкладки питания для управления питанием принтера!</code>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <form class="was-validated">
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="psQuickConnect" required>
                            <label class="custom-control-label" for="psQuickConnect">Подключить/Отключить</label>
                            <div class="valid-feedback">Будет пытаться подключить/отключить</div>
                            <div class="invalid-feedback">Пропустит подключение/отключение</div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <form class="was-validated">
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="psQuickPower" required>
                            <label class="custom-control-label" for="psQuickPower">Включить/Выключить питание</label>
                            <div class="valid-feedback">Будет пытаться включить/выключить питание принтера</div>
                            <div class="invalid-feedback">Пропустит включение/выключение питания принтера</div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="psQuickConnectTimeout">Тайм-аут подключения после включения</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="psQuickConnectTimeout" step="1">
                            <div class="input-group-append">
                                <div class="input-group-text">Секунды</div>
                            </div>
                        </div>
                        <small class="form-text text-muted">
                            Время между попыткой включения питания принтера после успешного подключения.
                        </small>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="psQuickPowerTimeout">Тайм-аут питания после отключения</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="psQuickPowerTimeout" placeholder="3000" step="1">
                            <div class="input-group-append">
                                <div class="input-group-text">Секунды</div>
                            </div>
                        </div>
                        <small class="form-text text-muted">
                            Время между попыткой отключения принтера после успешного выключения питания.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-profile" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Профили принтера</h5>
            <hr>
            <p>Ниже представлена информация о текущем выбранном профиле принтера. Вы можете
                отредактировать его здесь, и изменения будут сохранены в OctoPrint.</p>
            <div id="psPrinterProfiles" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="printer-cost" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Стоимость принтера</h5>
            <hr>
            <p>Ниже представлены настройки, используемые для расчёта столбца стоимости принтера в истории и
                на других видах.</p>
            <div id="psPrinterCost" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="printer-alerts" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Оповещения</h5>
            <hr>
            <p>Список оповещений, активированных на этом принтере.</p>
            <p>Для настройки перейдите в Система -> Оповещения</p>
            <div class="row">
                <div class="col-12" id="psCustomAlertsTable">
                    <table id="customAltersTable"
                           class="table table-sm table-dark table-striped table-responsive-sm table-responsive-md text-center">
                        <thead>
                        <tr>
                            <th scope="col">Активно</th>
                            <th scope="col" style="width:150px;">Триггер</th>
                            <th scope="col">Скрипт</th>
                            <th scope="col">Сообщение</th>
                        </tr>
                        </thead>
                        <tbody id="printerAltersTableBody"
                               style="height:100%; overflow-y:auto;">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-power" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Команды питания</h5>
            <hr>
            <p>Настройте команды питания хоста/принтера здесь. Включение добавит кнопку меню питания
                рядом с управлением принтером на всех видах.</p>
            <div class="alert alert-warning text-dark" role="alert">
                Необходимо обновить веб-интерфейс, чтобы настройки вступили в силу!
            </div>
            <div class="row">
                <div class="col-12" id="psPowerCommands">

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-gcode" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Gcode скрипты OctoPrint</h5>
            <hr>
            <div id="psGcodeManagerGcode">

            </div>
        </div>
        <div class="tab-pane fade" id="printer-settings" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Настройки камеры</h5>
            <hr>
            <div class="row">
                <div class="col-12 col-md-12" id="printerManagerSettings">
                    <h6><u>Настройки камеры</u></h6>
                    <div id="cameraRotation">

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="printer-trigger" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Настройки триггеров</h5>
            <hr>
            <div class="row">
                <div class="col-12 col-md-12" id="printerManagerSettings">
                    <h6><u>Температурные триггеры</u></h6>
                    <div id="tempTriggers">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
