<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
    <div class="list-group" id="list-tab" role="tablist">

        <a class="list-group-item list-group-item-action active notyet" id="bulk-appearance-settings-btn"
           data-toggle="list" href="#bulk-appearance-settings" role="tab" aria-controls="messages"><i class="fas fa-eye"></i> Внешний вид <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-gcodeAnalysis-settings-btn"
           data-toggle="list" href="#bulk-gcode-analysis" role="tab" aria-controls="messages"><i class="fas fa-code-branch"></i> Анализ Gcode <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-plugins-settings-btn"
           data-toggle="list" href="#bulk-plugins-settings" role="tab" aria-controls="messages"><i class="fas fa-plug"></i> Плагины <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-scripts-settings-btn"
           data-toggle="list" href="#bulk-gcode-scripts" role="tab" aria-controls="messages"><i class="far fa-file-code"></i> Gcode скрипты <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-serial-settings-btn"
           data-toggle="list" href="#bulk-serial-connection" role="tab" aria-controls="messages"><i class="fab fa-usb"></i> Последовательные подключения <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-server-settings-btn"
           data-toggle="list" href="#bulk-server-settings" role="tab" aria-controls="messages"><i class="fas fa-server"></i> Сервер <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-system-settings-btn"
           data-toggle="list" href="#bulk-system-settings" role="tab" aria-controls="messages"><i class="fas fa-laptop-code"></i> Система <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-temperature-settings-btn"
           data-toggle="list" href="#bulk-temperature-settings" role="tab" aria-controls="messages"><i class="fas fa-temperature-high"></i> Температура <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-terminalFilters-settings-btn"
           data-toggle="list" href="#bulk-terminal-filters" role="tab" aria-controls="messages"><i class="fas fa-terminal"></i> Фильтры терминала <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-webcam-settings-btn"
           data-toggle="list" href="#bulk-camera-settings" role="tab" aria-controls="messages"><i class="fas fa-camera-retro"></i> Камера <i class="fas fa-spinner fa-spin"></i></a>
        <a class="list-group-item list-group-item-action notyet" id="bulk-github-settings-btn"
           data-toggle="list" href="#bulk-github-settings" role="tab" aria-controls="messages"><i class="fab fa-github"></i> Github <i class="fas fa-spinner fa-spin"></i></a>
    </div>
    <span id="printerBulkSettingsFooter">

    </span>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade active show" id="bulk-appearance-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Настройки внешнего вида</h5>
            <hr>
            <p>Ниже представлена информация о текущем выбранном профиле принтера. Вы можете
                отредактировать её здесь, и изменения будут сохранены в OctoPrint.</p>
            <div id="bulk-appearance-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-gcode-analysis" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Настройки анализа Gcode</h5>
            <hr>
            <p>Ниже представлена информация о текущем выбранном профиле принтера. Вы можете
                отредактировать её здесь, и изменения будут сохранены в OctoPrint.</p>
            <div id="bulk-gcodeAnalysis-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-plugins-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Настройки плагинов</h5>
            <hr>
            <p>Ниже представлена информация о текущем выбранном профиле принтера. Вы можете
                отредактировать её здесь, и изменения будут сохранены в OctoPrint.</p>
            <div id="bulk-plugins-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-gcode-scripts" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Gcode скрипты</h5>
            <hr>
            <p>Ниже представлена информация о текущем выбранном профиле принтера. Вы можете
                отредактировать её здесь, и изменения будут сохранены в OctoPrint.</p>
            <div id="bulk-scripts-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-serial-connection" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Настройки последовательного подключения</h5>
            <hr>
            <p>Ниже представлена информация о текущем выбранном профиле принтера. Вы можете
                отредактировать её здесь, и изменения будут сохранены в OctoPrint.</p>
            <div id="bulk-serial-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-server-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Настройки сервера</h5>
            <hr>
            <p>Ниже представлены настройки, используемые для расчёта столбца стоимости принтера в истории и
                на других видах.</p>
            <div id="bulk-server-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-system-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Системные настройки</h5>
            <hr>
            <p>Ниже представлены настройки, используемые для расчёта столбца стоимости принтера в истории и
                на других видах.</p>
            <div id="bulk-system-el" class="row">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-temperature-settings" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Настройки температуры</h5>
            <hr>
            <p>Настройте команды питания хоста/принтера здесь. Включение добавит кнопку меню питания
                рядом с управлением принтером на всех видах.</p>
            <div class="row" id="bulk-temperature-el">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-terminal-filters" role="tabpanel"
             aria-labelledby="system-panel-view-list">
            <h5>Настройки фильтров терминала</h5>
            <hr>
            <p>ПРИМЕЧАНИЕ: OctoPrint, похоже, не обновляет API с этой информацией сразу.
                Если после нажатия кнопки "Сохранить изменения" обновление не происходит,
                проверьте, сохранились ли значения. Для обнаружения изменений OctoFarm
                необходимо использовать кнопку ресинхронизации в интерфейсе.</p>
            <div id="bulk-terminalFilters-el">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-camera-settings" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Настройки камеры</h5>
            <hr>
            <div class="row" id="bulk-webcam-el">

            </div>
        </div>
        <div class="tab-pane fade" id="bulk-github-settings" role="tabpanel"
             aria-labelledby="system-settings-list">
            <h5>Настройки Github</h5>
            <hr>
            <div class="row" id="bulk-github-el">

            </div>
        </div>
    </div>
</div>
