<div class="col-12 col-sm-12 col-md-12">
    <h5>Хост OctoPrint</h5>
    <hr>
    <p>Настройте параметры подключения хоста OctoPrint</p>
    <div id="psPrinterConnection">
        <form>
            <div class="row pb-1">
                <div class="col-12 col-md-6">
                    <label for="psPrinterName">Имя принтера:</label>
                    <div class="input-group">
                        <input id="psPrinterName" type="text" class="form-control"
                               placeholder="Имя принтера">
                        <div id="generateNameButtonWrapper" class="input-group-append">

                        </div>
                    </div>
                    <small class="form-text text-muted">Текущее имя принтера. Используйте кнопку генерации или обновите вручную</small>

                    <small>Примечание: <code>Не сохраняется обратно в OctoPrint!</code></small>
                </div>
                <div class="col-12 col-md-6">
                    <label for="psPrinterGroup">Группа принтера:</label>
                    <input id="psPrinterGroup" type="text" class="form-control"
                           placeholder="Группа принтера">
                    <small class="form-text text-muted">Группа, к которой принадлежит принтер.</small>
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-12 col-md-6">
                    <label for="psPrinterURL">URL принтера:</label>
                    <input id="psPrinterURL" type="text" class="form-control"
                           placeholder="URL принтера">
                    <small class="form-text text-muted">URL хоста OctoPrint включая порт.
                        По умолчанию "http://", если не указано.</small>
                    <small>Пример: <code>http://192.168.1.5:81</code></small>
                </div>
                <div class="col-12 col-md-4">
                    <label for="psAPIKEY">API ключ:</label>
                    <input id="psAPIKEY" type="text" class="form-control"
                           placeholder="API ключ">
                    <small class="form-text text-muted">API ключ OctoPrint. Требуется
                        использовать пользовательский/прикладной API ключ для OctoPrint
                        версии 1.4.1+.</small>
                </div>
                <div class="col-12 col-md-2">
                    <label for="psOctoPrintUser">Пользователь OctoPrint:</label>
                    <select id="psOctoPrintUser" class="custom-select">

                    </select>
                    <small class="form-text text-muted">Текущий пользователь OctoPrint,
                        используемый OctoFarm для подключения.</small>
                </div>

            </div>
            <div class="row pb-2">
                <div class="col-12 col-md-8">
                    <label for="psCamURL">URL камеры:</label>
                    <input id="psCamURL" type="text" class="form-control"
                           placeholder="URL камеры">
                    <small class="form-text text-muted">URL потока mjpeg камеры.
                        По умолчанию "http://", если не указано.</small>
                    <small>Пример:
                        <code>http://192.168.1.5/webcam/?action=stream</code></small>
                </div>
                <div class="col-12 col-md-4">
                    <label for="psWebSocketProtocol">Протокол WebSocket принтера:</label>
                    <select id="psWebSocketProtocol" class="custom-select" disabled>
                        <option value="ws://">ws://</option>
                        <option value="wss://">wss://</option>
                    </select>
                    <small class="form-text text-muted">Протокол подключения WebSocket. Автоматически выбирается на основе значения http/https в URL принтера. (отключено)</small>
                    <small>Пример: <code>"ws:// (http) " или "wss:// (https)" </code></small>
                </div>
            </div>
        </form>
    </div>
    <div id="psPrinterEditSaveButton">

    </div>
</div>
