<div class="text-center p-1">
    <b>Профили:</b> <span id="filamentProfileTotals" class="badge badge-info"><%= statistics.profileCount %></span>
    <b>Катушки:</b> <span id="filamentSpoolsTotals" class="badge badge-info"><%= statistics.spoolCount %></span>
    <b>Активные:</b> <span id="filamentSpoolsActiveTotals" class="badge badge-warning"><%= statistics.activeSpoolCount %></span>
    <button title="Настройка и редактирование профилей филамента."
            type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#profileManagerModal">
        <i class="far fa-id-card"></i> Менеджер профилей
    </button>
    <button title="Настройка и управление катушками филамента."
            type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#spoolManagerModal">
        <i class="fas fa-toilet-paper"></i> Менеджер катушек
    </button>
    <button title="Просмотр текущего списка материалов OctoFarm..."
            type="button" class="btn btn-secondary m-2" data-toggle="modal" data-target="#materialsListModal">
        <i class="fa-solid fa-brush"></i> Список материалов
    </button>
</div>
