<div
  id="actionsBar"
  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 stuck mb-3 d-none d-md-block d-lg-block d-xl-block"
>
  <div class="card text-white bg-dark mx-0 my-0">
    <div class="row px-1" id="actionsBarBody">

      <div class="col-8">
        <button
                title="Подключить несколько принтеров одновременно."
                id="bulkConnectBtn"
                type="button"
                class="btn btn-success"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
          <i class="fas fa-link"></i> Подключить
        </button>
        <button
                title="Отключить несколько принтеров одновременно."
                id="bulkDisconnectBtn"
                type="button"
                class="btn btn-danger"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
          <i class="fas fa-unlink"></i> Отключить
        </button>
        <button
                title="Включить/выключить несколько принтеров одновременно."
                id="bulkPowerBtn"
                type="button"
                class="btn btn-outline-danger"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
          <i class="fas fa-power-off"></i> Питание
        </button>

        <button
                title="Отправить команды нагрева нескольким принтерам одновременно."
                id="bulkPreHeat"
                type="button"
                class="btn btn-warning text-dark"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
          <i class="fas fa-temperature-high"></i> Преднагрев
        </button>
        <button
                title="Управлять несколькими принтерами одновременно."
                id="bulkControl"
                type="button"
                class="btn btn-info"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
          <i class="fas fa-gamepad"></i> Управление
        </button>
        <button
                title="Отправить G-код команды нескольким принтерам одновременно."
                id="bulkGcodeCommands"
                type="button"
                class="btn btn-success"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerSelectModal"
        >
          <i class="fas fa-code"></i> Gcode
        </button>
        <button
                id="multiPrintCommand"
                type="button"
                class="btn btn-warning text-dark"
                data-toggle="modal"
                data-target="#printerSelectModal"
        >
          <i class="fas fa-print"></i> Мультипечать
        </button>
      </div>
      <div class="col-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="sortStates">Сортировка: </label>
          </div>
          <select class="custom-select" id="sortStates">
            <option href="#" value="index">Индекс</option>
            <option href="#" value="percent">Процент</option>
            <option id="timeOption" href="#" value="time">Время</option>
          </select>
        </div>
      </div>

      <div class="col-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="filterStates">Фильтр: </label>
          </div>
          <select class="custom-select" id="filterStates">
            <% for(let i = 0; i < printGroups.length; i++){ %>
              <option href="#" value="<%= printGroups[i] %>"><%= printGroups[i] %></option>
            <% } %>
          </select>
        </div>
      </div>






    </div>
  </div>
</div>
