<div
  id="currentOperationsPanel"
  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0"
>
  <div class="card text-white bg-dark">
    <div class="card-header dashHeader pt-1 pr-1 pl-0 pb-0">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 p-0">
          <button
            type="button"
            class="btn btn-secondary d-block p-1"
            href="#"
            aria-expanded="false"
            disabled
          >
            <i class="fas fa-star"></i> Текущие операции
          </button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 p-0">
          <div class="btn-group float-right ml-1">
            <div id="currentOperationsChangeSortOrder" class="badge badge-dark float-right ml-1 p-0 py-1 px-1" disabled >
              <i class="fas fa-sort-numeric-down"></i> Прогресс</a>
            </div>
            <button  type="button" class="btn btn-sm btn-dark dropdown-toggle dropdown-toggle-split p-0 py-auto px-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-200">
              <span class="sr-only">Переключить выпадающее меню</span>
            </button>
            <div class="dropdown-menu">
              <a id="ci-progress-up" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-numeric-up"></i> Прогресс</a>
              <a id="ci-progress-down" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-numeric-down"></i> Прогресс</a>
              <div class="dropdown-divider"></div>
              <a id="ci-time-up" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-numeric-up"></i> Осталось времени</a>
              <a id="ci-time-down" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-numeric-down"></i> Осталось времени</a>
              <div class="dropdown-divider"></div>
              <a id="ci-file-up" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-alpha-up"></i> Имя файла</a>
              <a id="ci-file-down" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-alpha-down"></i> Имя файла</a>
              <div class="dropdown-divider"></div>
              <a id="ci-index-up" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-numeric-up"></i> Индекс сортировки</a>
              <a id="ci-index-down" class="dropdown-item small p-0 px-2" href="#"><i class="fas fa-sort-numeric-down"></i> Индекс сортировки</a>
            </div>
          </div>
          <span id="offlineCount" class="badge badge-danger float-right ml-1 d-none"> Офлайн: <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
          <span id="disconCount" class="badge badge-danger float-right ml-1 py-1"> Отключено: <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
          <span id="idleCount" class="badge badge-dark float-right ml-1 py-1"> Ожидание: <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
          <span id="activeCount" class="badge badge-warning float-right ml-1 py-1"> Активно: <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
          <span id="completeCount" class="badge badge-success float-right ml-1 py-1"> Завершено: <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>

      </div>
    </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0">
          <div class="progress">
            <div id="farmProgress"
                 class="progress-bar progress-bar-striped bg-warning"
                 role="progressbar"
                 style="width: 0%"
                 aria-valuenow="0%"
                 aria-valuemin="0"
                 aria-valuemax="100"
            >
              0%
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="card-body pt-0 pb-0 d-flex flex-row overflow-x" id="currentOperationsBody">

    </div>
  </div>
</div>
