<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1>Добро пожаловать в OctoFarm</h1>
            <p>
                Универсальное решение для мониторинга и управления несколькими экземплярами Octoprint.
            </p>
            <h1><img width="500px" src="assets/images/logo.png" /></h1>
            <p>
                Добро пожаловать<% if(typeof name != 'undefined'){ %>,
                    <%= name %><% }%>! Для начала работы нам нужны принтеры в вашей
                ферме!
            </p>
            <a
                    class="btn btn-primary btn-block mb-2"
                    href="/printers"
            >Настроить принтеры</a
            >
        </div>
    </div>
</div>