<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Вход</h1>
      <%- include('./partials/messages') %>
      <form action="/users/login" method="POST" class="was-validated">
        <div class="form-group">
          <label for="username">Имя пользователя</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Введите имя пользователя"
            autocomplete="username"
          />
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Введите пароль"
            autocomplete="current-password"
          />
        </div>
          <div class="custom-control custom-checkbox mb-3">
            <input title="This does not persist server reboots" type="checkbox" class="custom-control-input" type="checkbox" name="remember_me" value="yes" id="rememberMe" required>
            <label class="custom-control-label" for="rememberMe">Запомнить меня!</label>
            <div class="valid-feedback">Сессия будет сохранена... </div>
            <div class="invalid-feedback">Сессия не будет сохранена.</div>
          </div>
        <button type="submit" class="btn btn-primary btn-block bg-colour-1" formnovalidate>Войти</button>
      </form>
      <p class="lead mt-4">
        <% if(registration){ %> Нет аккаунта? <a href="/users/register">Зарегистрируйтесь</a> здесь!
        <% } %>
      </p>
    </div>
  </div>
</div>
