
<div class="col-12">

    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3 float-left" style="width:450px;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Лимит загрузки</span>
                </div>
                <input type="number" step="1" min="1" max="10" class="form-control" placeholder="1" aria-label="Recipient's username" id="queueUploadLimitInput">
                <small class="form-text text-muted">
                    Изменение этого значения определяет количество одновременных загрузок. Мин: <code>1</code>, Макс: <code>10</code>.
                </small>
            </div>


            <button title="Удалить все элементы из очереди" type="button" class="btn btn-outline-danger float-right ml-1 d-none" id="clearQueueBtn"><i class="fa-solid fa-xmark" disabled></i> Отменить очередь</button>
            <button title="Приостановить/Возобновить очередь" type="button" class="btn btn-outline-warning float-right d-none" id="stopQueueBtn" disabled><i class="fa-solid fa-pause"></i> Приостановить очередь</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-dark text-center">
                <thead>
                <tr>
                    <th scope="col">Принтер</th>
                    <th scope="col">Имя файла</th>
                    <th scope="col">Расположение</th>
                    <th scope="col">Размер файла</th>
                    <th scope="col">Прогресс</th>
<!--                    <th scope="col">Actions</th>-->
                </tr>
                </thead>
                <tbody id="uploadQueueTableBody">

                </tbody>
            </table>
        </div>
    </div>

</div>