<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active"
               id="system-monitoring-list" data-toggle="list"
               href="#system-monitoring" role="tab"
               aria-controls="dashboard"><i class="fas fa-eye"></i> Виды</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="system-dashboard-list" data-toggle="list"
               href="#system-dashboard" role="tab" aria-controls="dashboard"><i class="fas fa-tachometer-alt"></i> Панель</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="system-dashboard-list" data-toggle="list"
               href="#system-printer-manager" role="tab" aria-controls="dashboard"><i class="fas fa-print"></i> Принтеры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="system-dashboard-list" data-toggle="list"
               href="#system-file-manager" role="tab" aria-controls="dashboard"><i class="fas fa-folder-open"></i> Файловый менеджер</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="system-dashboard-list" data-toggle="list"
               href="#system-history" role="tab" aria-controls="dashboard"><i class="fas fa-history"></i> История</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="system-dashboard-list" data-toggle="list"
               href="#system-filament-manager" role="tab" aria-controls="dashboard"><i class="fas fa-toilet-paper"></i> Менеджер филамента</a>
        </li>
    </ul>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="system-monitoring" role="tabpanel"
                 aria-labelledby="dashboard-monitoring-list">
                <h4>Видимость видов</h4><hr>
                <p>Включайте и отключайте различные части интерфейса на любой из страниц
                    видов.</p>
                <div class="row">
                    <div class="col-3">
                        <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input"
                                       id="panelCurrentOpOn" required>
                                <label class="custom-control-label"
                                       for="panelCurrentOpOn">Текущие
                                    операции</label>
                                <div class="valid-feedback">Текущие операции будут
                                    показаны на видах.
                                </div>
                                <div class="invalid-feedback">Текущие операции
                                    не будут показаны на видах.
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3">
                        <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input"
                                       id="panelHideOffline" checked required>
                                <label class="custom-control-label"
                                       for="panelHideOffline">Офлайн
                                    принтеры</label>
                                <div class="invalid-feedback">Офлайн принтеры будут
                                    скрыты из видов.
                                </div>
                                <div class="valid-feedback">Офлайн принтеры будут
                                    показаны на видах.
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3">
                        <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input"
                                       id="panelHideClosed" required>
                                <label class="custom-control-label"
                                       for="panelHideClosed">Отключённые
                                    принтеры</label>
                                <div class="invalid-feedback">Отключённые принтеры
                                    будут скрыты из видов.
                                </div>
                                <div class="valid-feedback">Отключённые принтеры
                                    будут показаны на видах.
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--                                                    <div class="col-3">-->
                    <!--                                                        <form class="was-validated">-->
                    <!--                                                            <div class="custom-control custom-checkbox mb-3">-->
                    <!--                                                                <input type="checkbox" class="custom-control-input" id="panelHideIdle" required>-->
                    <!--                                                                <label class="custom-control-label" for="panelHideIdle">Hide Idle</label>-->
                    <!--                                                                <div class="valid-feedback">Idle printers will be hidden from the views.</div>-->
                    <!--                                                                <div class="invalid-feedback">Idle printers will be shown on the views.</div>-->
                    <!--                                                            </div>-->
                    <!--                                                        </form>-->
                    <!--                                                    </div>-->
                    <div class="col-sm-12 col-md-6">
                        <h4>Столбцы камер</h4><hr>
                        <p>Выберите количество столбцов для вида камер</p>
                        <div class="alert alert-warning text-dark" role="alert">
                            Действует только на экранах больше планшета.
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                       for="selectCameraGrid">Столбцы камер</label>
                            </div>
                            <select class="custom-select" id="selectCameraGrid">
                                <option value="12">1</option>
                                <option value="6" selected>2</option>
                                <option value="4">3</option>
                                <option value="3">4</option>
                                <option value="5">5</option>
                                <option value="2">6</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h4>Столбцы групп</h4><hr>
                        <p>Выберите количество столбцов для вида групп</p>
                        <div class="alert alert-warning text-dark" role="alert">
                            Действует только на экранах больше планшета.
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                       for="selectCameraGrid">Столбцы групп</label>
                            </div>
                            <select class="custom-select" id="selectGroupGrid">
                                <option value="12">1</option>
                                <option value="6" selected>2</option>
                                <option value="4">3</option>
                                <option value="3">4</option>
                                <option value="5">5</option>
                                <option value="2">6</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="system-dashboard" role="tabpanel"
                 aria-labelledby="dashboard-settings-list">
                <div class="row">
                    <div class="col-lg-12">
                        <button id="resetDashboardBtn" type="button"
                                class="btn btn-danger">Сбросить панель
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <h5>Включить/Отключить</h5>
                        <hr>
                        <p>Выберите, какие секции панели вы хотите включить
                            или отключить. Отключение секции панели скроет её
                            из вида.</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 title="Блок текущих операций показывает все активные печати на ферме.">
                            Активность фермы</h6><hr>
                        <div class="row">
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="currentOperations" required>
                                    <label class="custom-control-label"
                                           for="currentOperations">Текущие
                                        операции</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Показывает
                                    текущие активные печати</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="cumulativeTimes" checked required>
                                    <label class="custom-control-label"
                                           for="cumulativeTimes">Суммарное
                                        время</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Суммирует
                                    расчётное, оставшееся и прошедшее время
                                    активных печатей на ферме</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3 ">
                                    <input type="checkbox" class="custom-control-input"
                                           id="averageTimes" checked required>
                                    <label class="custom-control-label"
                                           for="averageTimes">Среднее время</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Средние значения
                                    расчётного, оставшегося и прошедшего времени
                                    активных печатей на ферме</small>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h6 title="Блоки статуса принтеров показывают последнее состояние каждого экземпляра. (может потребоваться изменение размера для отображения всех принтеров)">
                            Статус принтеров</h6><hr>
                        <div class="row">
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="printerState" checked required>
                                    <label class="custom-control-label"
                                           for="printerState">Состояние</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Сетка, показывающая
                                    состояния отдельных принтеров на ферме</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="printerTemps" checked required>
                                    <label class="custom-control-label"
                                           for="printerTemps">Температуры</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Сетка, показывающая
                                    температуры отдельных принтеров на
                                    ферме</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="printerUtilisation" checked required>
                                    <label class="custom-control-label"
                                           for="printerUtilisation">Использование</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Сетка, показывающая
                                    использование отдельных принтеров:
                                    активность против простоя/офлайн.</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="printerProgress" checked required>
                                    <label class="custom-control-label"
                                           for="printerProgress">Прогресс</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Сетка, показывающая
                                    прогресс отдельных принтеров для активных
                                    печатей</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="currentStatus" checked required>
                                    <label class="custom-control-label"
                                           for="currentStatus">Текущий
                                        статус</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Обзор
                                    всех статусов принтеров, суммированных в
                                    столбчатую диаграмму</small>
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <h6>Использование фермы</h6><hr>
                        <div class="row">
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="weeklyUtilisation" checked required>
                                    <label class="custom-control-label"
                                           for="weeklyUtilisation">Еженедельное
                                        использование</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Тепловая карта,
                                    показывающая общие проценты состояний принтеров
                                    на ферме. Показывает последние 7 дней.</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="currentUtilisation" checked required>
                                    <label class="custom-control-label"
                                           for="currentUtilisation">Текущее
                                        использование</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Кольцевая
                                    диаграмма общего количества принтеров в состояниях
                                    Активен/Простой/Офлайн</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="farmUtilisation" checked required>
                                    <label class="custom-control-label"
                                           for="farmUtilisation">Использование
                                        фермы</label><br>

                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Обзор
                                    часов использования всей фермы, включая
                                    Активность/Ошибки/Простой/Офлайн</small>
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <h6>Историческое</h6><hr>
                        <div class="row">
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="hourlyTotalTemperatures" required>
                                    <label class="custom-control-label"
                                           for="hourlyTotalTemperatures">Почасовые общие
                                        температуры</label><br>
                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> График,
                                    показывающий общие температуры инструмента/стола/камеры
                                    на ферме, включая общую температуру.</small>

                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="printCompletionCheck" required>
                                    <label class="custom-control-label"
                                           for="printCompletionCheck">Завершение печати
                                        по дням</label><br>
                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> График,
                                    показывающий количество завершённых печатей
                                    по дням.</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="filamentUsageCheck" required>
                                    <label class="custom-control-label"
                                           for="filamentUsageCheck">Расход филамента
                                        по дням</label><br>
                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> График,
                                    показывающий расход филамента по дням.</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="filamentUsageOverTimeCheck" required>
                                    <label class="custom-control-label"
                                           for="filamentUsageOverTimeCheck">Расход филамента
                                        за всё время</label><br>
                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> График,
                                    показывающий расход филамента, суммированный
                                    по дням за всё время.</small>
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-4 d-none">
                        <h6>Окружение</h6><hr>
                        <div class="row">
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="environmentalHistory" required>
                                    <label class="custom-control-label"
                                           for="environmentalHistory">История
                                        окружения</label><br>
                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Показывает
                                    глобальные данные окружения для комнатной
                                    температуры/влажности/давления/IAQ. Для настройки отправьте
                                    POST-запрос (требуется авторизация) на <code>/input/roomData</code>
                                    with the following format:<br> <code>{<br>
                                        temperature: value (°C),<br>
                                        humidity: value (%),<br>
                                        iaq: value,<br>
                                        pressure: value (Pa)<br>
                                        date: value<br>
                                        }</code><br> Значения null обязательны, если
                                    данные отсутствуют!</small>
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <h6>Прочее</h6><h4></h4>
                        <div class="row">
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="dateAndTime" required>
                                    <label class="custom-control-label"
                                           for="dateAndTime">Дата и время</label><br>
                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Показывает текущую локальную дату и время</small>
                            </form>
                            <form class="border border-secondary rounded col-lg-12 was-validated">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input"
                                           id="cameraCarousel" required>
                                    <label class="custom-control-label"
                                           for="cameraCarousel">Карусель камер</label><br>
                                    <div class="valid-feedback">Показано</div>
                                    <div class="invalid-feedback">Скрыто</div>
                                </div>
                                <small><i class="fas fa-info-circle"></i> Показывает автоматически прокручивающуюся карусель камер</small>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="system-printer-manager" role="tabpanel"
                 aria-labelledby="dashboard-monitoring-list">
                <h4>Видимость менеджера принтеров</h4><hr>
                <p>Включайте и отключайте различные части интерфейса на странице менеджера принтеров.</p>
                <div class="row">
                    <div class="col-3">
                        <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input"
                                       id="printerManagerCurrentOp" required>
                                <label class="custom-control-label"
                                       for="printerManagerCurrentOp">Текущие
                                    операции</label>
                                <div class="valid-feedback">Текущие операции будут
                                    показаны в менеджере принтеров.
                                </div>
                                <div class="invalid-feedback">Текущие операции
                                    не будут показаны в менеджере принтеров.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="system-file-manager" role="tabpanel"
                 aria-labelledby="dashboard-monitoring-list">
                <h4>Видимость файлового менеджера</h4><hr>
                <p>Включайте и отключайте различные части интерфейса на странице файлового менеджера.</p>
                <div class="row">
                    <div class="col-3">
                        <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input"
                                       id="fileManagerCurrentOp" required>
                                <label class="custom-control-label"
                                       for="fileManagerCurrentOp">Текущие
                                    операции</label>
                                <div class="valid-feedback">Текущие операции будут
                                    показаны в файловом менеджере.
                                </div>
                                <div class="invalid-feedback">Текущие операции
                                    не будут показаны в файловом менеджере.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="system-history" role="tabpanel"
                 aria-labelledby="dashboard-monitoring-list">
                <h4>Видимость истории</h4><hr>
                <p>Включайте и отключайте различные части интерфейса на странице истории.</p>
                <div class="row">
                    <div class="col-3">
                        <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input"
                                       id="historyCurrentOp" required>
                                <label class="custom-control-label"
                                       for="historyCurrentOp">Текущие
                                    операции</label>
                                <div class="valid-feedback">Текущие операции будут
                                    показаны в истории.
                                </div>
                                <div class="invalid-feedback">Текущие операции
                                    не будут показаны в истории.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="system-filament-manager" role="tabpanel"
                 aria-labelledby="dashboard-monitoring-list">
                <h4>Видимость менеджера филамента</h4><hr>
                <p>Включайте и отключайте различные части интерфейса на странице менеджера филамента.</p>
                <div class="row">
                    <div class="col-3">
                        <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input"
                                       id="filamentManagerCurrentOp" required>
                                <label class="custom-control-label"
                                       for="filamentManagerCurrentOp">Текущие
                                    операции</label>
                                <div class="valid-feedback">Текущие операции будут
                                    показаны в менеджере филамента.
                                </div>
                                <div class="invalid-feedback">Текущие операции
                                    не будут показаны в менеджере филамента.
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-success btn-block mt-1"
        id="saveClientSettingsBtn">Сохранить
</button>
