<p>Текущий URL базы данных.</p>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">URL базы данных: </span>
    </div>
    <input type="text" class="form-control" id="basic-url"
           aria-describedby="basic-addon3" value="<%= db; %>" disabled>
</div>
<br>
<h5>Действия</h5>
<hr>
<p class="mb-1">Действия, выполняемые на уровне базы данных.</p>

<small>Ниже приведены некоторые действия, которые можно выполнить с базой данных.</small><br>

<br>
<h6>Экспорт базы данных в .json</h6>
<hr>
<p class="mb-1">Это простой дамп информации. Не заменяет полноценное резервное копирование базы данных.</p>
<center>
    <button id="exportAlerts" type="button"
            class="btn btn-warning btn-lg bg-colour-1 mb-2"><i
                class="fas fa-history"></i> <br> Экспорт оповещений
    </button>
    <button id="exportClientSettings" type="button"
            class="btn btn-info btn-lg bg-colour-2 mb-2"><i class="fas fa-cog"></i><br>
        Экспорт настроек клиента
    </button>
    <button id="exportFilament" type="button"
            class="btn btn-primary btn-lg bg-colour-3 mb-2"><i
                class="fas fa-toilet-paper"></i><br> Экспорт филамента
    </button>
    <button id="exportHistory" type="button"
            class="btn btn-danger btn-lg bg-colour-4 mb-2"><i class="fas fa-history"></i>
        <br> Экспорт истории
    </button>
    <button id="exportPrinters" type="button"
            class="btn btn-warning btn-lg bg-colour-1 mb-2"><i
                class="fas fa-print"></i><br> Экспорт принтеров
    </button>
    <button id="exportRoomData" type="button"
            class="btn btn-info btn-lg bg-colour-2 mb-2"><i class="fas fa-print"></i><br>
        Экспорт данных помещения
    </button>
    <button id="exportServerSettings" type="button"
            class="btn btn-primary btn-lg bg-colour-3 mb-2"><i
                class="fas fa-cog"></i><br> Экспорт настроек сервера
    </button>
    <button id="exportUsers" type="button"
            class="btn btn-secondary btn-lg bg-colour-4 mb-2"><i
                class="fas fa-users"></i><br> Экспорт пользователей
    </button>
</center>
<br>
<h6>Очистить базу данных</h6>
<hr>
<p class="mb-1">Это следует использовать только в крайнем случае. Вы полностью очистите
    базу данных, поэтому лучше иметь резервную копию, прежде чем даже думать
    о выполнении нижеприведённых действий.</p>
<code>ВНИМАНИЕ! Не экспериментируйте с этим, если у вас нет резервной копии и/или
    вы не знаете, что делаете...</code>
<center>
    <button id="nukeAlerts" type="button"
            class="btn btn-warning btn-lg bg-colour-1 mb-2"><i
                class="fas fa-history"></i> <br> Очистить оповещения
    </button>
    <button id="nukeClientSettings" type="button"
            class="btn btn-info btn-lg bg-colour-2 mb-2"><i class="fas fa-cog"></i><br>
        Очистить настройки клиента
    </button>
    <button id="nukeFilament" type="button"
            class="btn btn-primary btn-lg bg-colour-3 mb-2"><i
                class="fas fa-toilet-paper"></i><br> Очистить филамент
    </button>
    <button id="nukeHistory" type="button"
            class="btn btn-danger btn-lg bg-colour-4 mb-2"><i class="fas fa-history"></i>
        <br> Очистить историю
    </button>
    <button id="nukePrinters" type="button"
            class="btn btn-warning btn-lg bg-colour-1 mb-2"><i
                class="fas fa-print"></i><br> Очистить принтеры
    </button>
    <button id="nukeRoomData" type="button" class="btn btn-info btn-lg bg-colour-2 mb-2">
        <i class="fas fa-print"></i><br> Очистить данные помещения
    </button>
    <button id="nukeServerSettings" type="button"
            class="btn btn-primary btn-lg bg-colour-3 mb-2"><i
                class="fas fa-cog"></i><br> Очистить настройки сервера
    </button>
    <button id="nukeUsers" type="button"
            class="btn btn-secondary btn-lg bg-colour-4 mb-2"><i
                class="fas fa-users"></i><br> Очистить пользователей
    </button>
    <br>
    <button id="nukeEverything" type="button"
            class="btn btn-danger mb-1 btn-lg mb-2"><i
                class="fas fa-database"></i><br> Очистить всё
    </button>
</center>
