<div class="row">
    <div class="col-12 text-center">
        <h5 class="text-light">Испытываете проблемы с OctoFarm?</h5>
        <p class="text-light">Используйте кнопку "Дамп логов" ниже, чтобы создать .zip файл, готовый для
            загрузки в задачу на github.</p>
        <button
                id="logDumpGenerateBtn"
                type="button"
                class="btn btn-info float-left"
                href="#"
                aria-expanded="false"
        >
            <i class="fas fa-file-archive"></i> Дамп логов
        </button>
        <button
                id="clearOldLogs"
                type="button"
                class="btn btn-warning text-dark float-right"
                href="#"
                aria-expanded="false"
        >
            <i class="fas fa-broom text-dark"></i> Обслуживание
        </button>
        <button
                id="logDumpDownloadBtn"
                type="button"
                class="btn btn-success float-left ml-1 d-none"
                href="#"
                aria-expanded="false"
        >
            <i class="fas fa-file-download"></i> Скачать дамп логов
        </button>

    </div>
</div>

<hr>
<div class="row">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <table class="table-hover table table-dark">
            <thead>
            <tr>
                <th scope="col">Имя файла</th>
                <th scope="col">Создан</th>
                <th scope="col">Последнее изменение</th>
                <th scope="col">Размер</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody id="serverLogs">

            </tbody>
        </table>
    </div>
</div>
