<div class="row">
    <div class="col-lg-12 text-center">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <h4>Об OctoFarm</h4><hr>
                <p>OctoFarm -- это проект Джеймса Маккея из NotExpectedYet, который
                    также является одним из его личных проектов. Он был разработан после использования
                    замечательного программного обеспечения Octoprint более года,
                    прежде чем появился второй принтер. Осознав, что можно
                    управлять/мониторить только один принтер из интерфейса Octoprint, он решил
                    написать собственную реализацию с использованием API Octoprint. Так
                    появился OctoFarm, который используется
                    в настоящее время для мониторинга и управления несколькими принтерами,
                    подключёнными через Octoprint. <br>Если вы хотите поблагодарить Джеймса за создание
                    этого бесплатного программного обеспечения с открытым исходным кодом, вы можете отправить
                    ему пожертвование с помощью
                    кнопок на этой странице или присоединиться к одному из наших замечательных растущих сообществ.</p>
            </div>
            <div class="col-sm-12 col-md-3">
                <h4>Сообщество</h4><hr>
                <a type="button" class="btn btn-primary mb-2" href="https://www.facebook.com/groups/octofarm" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a><br>
                <a type="button" class="btn btn-outline-light mb-2" href="https://discord.gg/vjabMUn" target="_blank"><i class="fab fa-discord"></i> Discord</a><br>
                <a type="button" class="btn btn-light mb-2" href="https://github.com/NotExpectedYet/OctoFarm/discussions" target="_blank"><i class="fab fa-github-square"></i> Github Discussions</a><br>
                <a type="button" class="btn btn-secondary mb-2" href="https://www.reddit.com/r/OctoFarm/" target="_blank"><i class="fab fa-reddit"></i> Reddit</a><br>
                <a type="button" class="btn btn-danger mb-2" href="https://www.youtube.com/channel/UClQWO3lxmQRreJVpjTrxELA" target="_blank"><i class="fab fa-youtube"></i> Youtube</a><br>
                <a type="button" class="btn btn-outline-dark" href="https://octofarm.net/blog" target="_blank"><i class="fas fa-rss"></i> Blog</a>
            </div>
            <div class="col-sm-12 col-md-3">
                <h4>Ссылки для спонсоров</h4><hr>
                <a type="button" class="btn btn-danger mb-2" href="https://www.patreon.com/NotExpectedYet" target="_blank"><i class="fab fa-patreon"></i> Patreon</a><br>
                <a type="button" class="btn btn-info mb-2" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QGBJML3E7268L&source=url" target="_blank"><i class="fab fa-paypal"></i> Paypal</a><br>
                <a type="button" class="btn btn-primary" href="https://buymeacoffee.com/OctoFarm" target="_blank"><i class="fas fa-mug-hot"></i> Купить мне кофе!</a>
            </div>
            <div class="col-sm-12 col-md-3">
                <h4>Документация</h4><hr>
                <a type="button" class="btn btn-warning dark-text mb-2" href="https://docs.octofarm.net/getting-started/" target="_blank"><i class="fas fa-play-circle"></i> Начало работы</a><br>
                <a type="button" class="btn btn-info mb-2" href="https://docs.octofarm.net/installation/" target="_blank"><i class="fas fa-cloud-download-alt"></i> Установка</a><br>
                <a type="button" class="btn btn-secondary mb-2" href="https://docs.octofarm.net/guides/" target="_blank"><i class="fas fa-clipboard-list"></i> Руководства</a><br>
                <a type="button" class="btn btn-light" href="https://github.com/OctoFarm/" target="_blank"><i class="fab fa-github"></i> Github</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <h5>Большое спасибо следующим спонсорам!</h5><hr>
                </div>
                        <% patreonData.forEach(patreon => { %>
                            <div class="col-12 col-sm-6 col-md-3 col-lg-2 text-center">
                                <li class="list-group-item">
                                    <div class="userpic"> <img class="userimg" src="<%= patreon.thumb %>"></div>
                                    <i style="color:gold;" class="fas fa-trophy"></i>
                                        <%= patreon.name %>
                                    <i style="color:gold;" class="fas fa-trophy"></i>
                                </li>
                            </div>
                        <% }) %>
                </div>
            </div>
    </div>
</div>

