<div class="row">
    <div class="col-lg-12">

        <div class="alert alert-warning text-dark text-dark" role="alert">
            Предполагается, что вы уже настроили зависимость psycopg2 на ваших экземплярах!
        </div>

        <form>
            <div class="form-group">
                <label for="filamentPostGresURI">URI Postgres:</label>
                <input type="email" class="form-control" id="filamentPostGresURI"  placeholder="postgresql://">
            </div>
            <div class="form-group">
                <label for="filamentDatebaseName">Имя базы данных: </label>
                <input type="email" class="form-control" id="filamentDatebaseName" aria-describedby="emailHelp" placeholder="Введите имя базы данных">
            </div>
            <div class="form-group">
                <label for="filamentUsername">Имя пользователя: </label>
                <input type="email" class="form-control" id="filamentUsername" aria-describedby="emailHelp" placeholder="Введите имя пользователя">
            </div>
            <div class="form-group">
                <label for="filamentPassword">Пароль: </label>
                <input type="email" class="form-control" id="filamentPassword" aria-describedby="emailHelp" placeholder="Введите пароль">
            </div>
        </form>
    </div>
    <button id="filamentManagerPluginSetupBtn" type="submit" class="btn btn-success">Настроить</button>
</div>


