<div class="row">
    <div id="userEditMessage" class="col-12">

    </div>
    <div class="form-group col-12">
        <label for="editName">Имя</label>
        <input type="name" id="editName" name="editName" class="form-control" placeholder="Введите имя"
               />
    </div>
    <div class="form-group col-12">
        <label for="editUserName">Имя пользователя</label>
        <input type="username" id="editUserName" name="username" class="form-control" placeholder="Введите имя пользователя"
               />
    </div>
    <div class="form-group mb-3 col-12">
        <label  for="editGroup">Группа</label>
        <select class="custom-select" id="editGroup">
            <option value="User">Пользователь</option>
            <option value="Administrator">Администратор</option>
        </select>
    </div>
</div>