<small><i class="fas fa-square" style="color: green;"></i> Стабильная темп. &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: orange;"></i> Нагрев &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: #e74c3c;"></i> Оффлайн &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: darkBlue;"></i> Охлаждение &nbsp;&nbsp;</small>
<small><i class="fas fa-square" style="color: cyan;"></i> Остыл &nbsp;&nbsp;</small>
<div id="currentTemps" class="row justify-content-sm-center">

</div>
