<small><i class="fas fa-square text-warning"></i> Активные &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-success"></i> Завершённые &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-secondary"></i> Простой &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-danger"></i> Отключено &nbsp;&nbsp;</small>
<small><i class="fas fa-square text-offline"></i> Оффлайн &nbsp;&nbsp;</small>
<div id="currentStatus" class="row justify-content-sm-center">
</div>
